$color-white: #fff;
$color-black: #000;
$color-grey-lightest: #f7f8fe;
$color-grey-light: #edeef0;
$color-grey: #b5b6ba;
$color-grey-darkest: #444;
$color-orange: #ff5921;
$color-orange-lighter: #ff9470;
$color-orange-lightest: lighten($color-orange, 25%);

:root {
  color-scheme: light;
  
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-grey-lightest: #{$color-grey-lightest};
  --color-grey-light: #{$color-grey-light};
  --color-grey: #{$color-grey};
  --color-grey-darkest: #{$color-grey-darkest};
  --color-orange: #{$color-orange};
  --color-orange-lighter: #{$color-orange-lighter};
  --color-orange-lightest: #{$color-orange-lightest};
}