::selection {
  text-shadow: none;
  color: var(--color-black);
  background-color: var(--color-orange-lighter);
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

a, button {
  touch-action: manipulation;
}

button {
  color: inherit;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}