:root {
    // Double split complimentary colour scheme
    --color-brand: #f15a25;
    --color-orange: #F29D30;
    --color-green: #3DF267;
    --color-blue: #0CA4F2;
    --color-red: #F2182B;

    // Greys
    --color-grey-50: rgb(255, 255, 255);
    --color-grey-75: rgb(250, 250, 250);
    --color-grey-100: rgb(245, 245, 245);
    --color-grey-200: rgb(234, 234, 234);
    --color-grey-300: rgb(225, 225, 225);
    --color-grey-400: rgb(202, 202, 202);
    --color-grey-500: rgb(179, 179, 179);
    --color-grey-600: rgb(142, 142, 142);
    --color-grey-700: rgb(110, 110, 110);
    --color-grey-800: rgb(75, 75, 75);
    --color-grey-900: rgb(44, 44, 44);
}
